/*
  Guía de Categorías:
  1: Clásicos
  2: Cartas
  3: Estrategia
  4: Rol
  5: Accesorios
  6: Infantiles
  7: Party Sociales
  8. Cooperativos
  9. Wargames
  10. Expansiones
*/

-- Lote de 20 productos para juegos de mesa
/*
  Guía de Categorías:
  1: Clásicos
  2: Cartas
  3: Estrategia
  4: Rol
  5: Accesorios
  6: Infantiles
  7: Party Sociales
  8: Cooperativos
  9: Wargames
  10: Expansiones
*/

-- Declarar variables para capturar los resultados del procedimiento
DECLARE @id_producto INT;
DECLARE @mensaje VARCHAR(500);

-- Declarar una variable de tabla para pasar los IDs de categoría
DECLARE @ids_categorias AS TipoIds;

-- Producto 1: Catan (Estrategia)
INSERT INTO @ids_categorias VALUES (3);
EXEC PROC_CREAR_PRODUCTO 'Catan', @id_categorias = @ids_categorias, @fechaIngreso = '2025-01-15', @precioLista = 35.00, @precioVenta = 49.99, @stock = 50, @stock_min = 5, @eliminado = 0, @descripcion = 'Juego de estrategia para construir y negociar. Incluye tablero modular y dados.', @cod_producto = 101, @id_proveedor = 1, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 2: Ajedrez de Madera (Clásico, Estrategia)
INSERT INTO @ids_categorias VALUES (1), (3);
EXEC PROC_CREAR_PRODUCTO 'Ajedrez de Madera', @id_categorias = @ids_categorias, @fechaIngreso = '2025-02-01', @precioLista = 20.00, @precioVenta = 29.99, @stock = 30, @stock_min = 3, @eliminado = 0, @descripcion = 'Clásico juego de estrategia abstracto. Incluye piezas de madera.', @cod_producto = 102, @id_proveedor = 2, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 3: Dungeons & Dragons Starter Set (Rol)
INSERT INTO @ids_categorias VALUES (4);
EXEC PROC_CREAR_PRODUCTO 'Dungeons & Dragons Starter Set', @id_categorias = @ids_categorias, @fechaIngreso = '2025-03-10', @precioLista = 40.00, @precioVenta = 55.00, @stock = 25, @stock_min = 2, @eliminado = 0, @descripcion = 'Caja de inicio para el icónico juego de rol de fantasía. Incluye reglas básicas y dados.', @cod_producto = 103, @id_proveedor = 3, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 4: Magic: The Gathering Deck (Cartas)
EXEC PROC_CREAR_PRODUCTO 'Magic: The Gathering Deck', @id_categorias = @ids_categorias, @fechaIngreso = '2025-04-20', @precioLista = 12.00, @precioVenta = 19.99, @stock = 100, @stock_min = 10, @eliminado = 0, @descripcion = 'Mazo de inicio para el juego de cartas coleccionables Magic.', @cod_producto = 104, @id_proveedor = 4, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 5: Pandemic (Cooperativos)
EXEC PROC_CREAR_PRODUCTO 'Pandemic', @id_categorias = @ids_categorias, @fechaIngreso = '2025-05-05', @precioLista = 30.00, @precioVenta = 45.00, @stock = 40, @stock_min = 4, @eliminado = 0, @descripcion = 'Juego cooperativo donde los jugadores luchan contra la propagación de enfermedades.', @cod_producto = 105, @id_proveedor = 5, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 6: Monopoly Junior (Clásico, Infantil)
EXEC PROC_CREAR_PRODUCTO 'Monopoly Junior', @id_categorias = @ids_categorias, @fechaIngreso = '2025-06-12', @precioLista = 18.00, @precioVenta = 25.99, @stock = 60, @stock_min = 6, @eliminado = 0, @descripcion = 'Versión simplificada del clásico juego de mesa para los más pequeños.', @cod_producto = 106, @id_proveedor = 6, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 7: Fichas de Poker (Accesorios, Party Sociales)
EXEC PROC_CREAR_PRODUCTO 'Fichas de Poker', @id_categorias = @ids_categorias, @fechaIngreso = '2025-07-01', @precioLista = 10.00, @precioVenta = 15.00, @stock = 80, @stock_min = 8, @eliminado = 0, @descripcion = 'Conjunto de fichas de plástico para juegos de cartas o casino.', @cod_producto = 107, @id_proveedor = 1, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 8: Ticket to Ride (Estrategia)
EXEC PROC_CREAR_PRODUCTO 'Ticket to Ride', @id_categorias = @ids_categorias, @fechaIngreso = '2025-08-18', @precioLista = 45.00, @precioVenta = 65.00, @stock = 35, @stock_min = 3, @eliminado = 0, @descripcion = 'Juego de estrategia de construcción de rutas de tren a través de América.', @cod_producto = 108, @id_proveedor = 2, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 9: El Dobble (Infantil, Party Sociales)
EXEC PROC_CREAR_PRODUCTO 'El Dobble', @id_categorias = @ids_categorias, @fechaIngreso = '2025-09-02', @precioLista = 15.00, @precioVenta = 22.00, @stock = 70, @stock_min = 7, @eliminado = 0, @descripcion = 'Juego de agilidad visual con cartas circulares. Diversión rápida para toda la familia.', @cod_producto = 109, @id_proveedor = 3, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 10: Dixit (Cartas, Party Sociales)
EXEC PROC_CREAR_PRODUCTO 'Dixit', @id_categorias = @ids_categorias, @fechaIngreso = '2025-10-10', @precioLista = 25.00, @precioVenta = 39.99, @stock = 45, @stock_min = 4, @eliminado = 0, @descripcion = 'Juego de cartas con hermosas ilustraciones que estimula la imaginación.', @cod_producto = 110, @id_proveedor = 4, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 11: Mansiones de la Locura (Cooperativos, Rol)
EXEC PROC_CREAR_PRODUCTO 'Mansiones de la Locura', @id_categorias = @ids_categorias, @fechaIngreso = '2025-11-25', @precioLista = 60.00, @precioVenta = 89.99, @stock = 20, @stock_min = 1, @eliminado = 0, @descripcion = 'Juego de mesa cooperativo de horror y misterio, basado en la obra de H.P. Lovecraft.', @cod_producto = 111, @id_proveedor = 5, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 12: Dados D20 (Accesorios, Rol)
EXEC PROC_CREAR_PRODUCTO 'Dados D20', @id_categorias = @ids_categorias, @fechaIngreso = '2025-12-05', @precioLista = 2.00, @precioVenta = 4.50, @stock = 200, @stock_min = 20, @eliminado = 0, @descripcion = 'Dado de 20 caras para juegos de rol, esencial para D&D.', @cod_producto = 112, @id_proveedor = 6, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 13: Exploding Kittens (Cartas, Party Sociales)
EXEC PROC_CREAR_PRODUCTO 'Exploding Kittens', @id_categorias = @ids_categorias, @fechaIngreso = '2026-01-10', @precioLista = 17.00, @precioVenta = 24.99, @stock = 90, @stock_min = 9, @eliminado = 0, @descripcion = 'Juego de cartas de humor absurdo, una versión de la ruleta rusa.', @cod_producto = 113, @id_proveedor = 1, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 14: Carcassonne (Estrategia)
EXEC PROC_CREAR_PRODUCTO 'Carcassonne', @id_categorias = @ids_categorias, @fechaIngreso = '2026-02-15', @precioLista = 28.00, @precioVenta = 39.99, @stock = 40, @stock_min = 4, @eliminado = 0, @descripcion = 'Juego de estrategia de colocación de losetas.', @cod_producto = 114, @id_proveedor = 2, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 15: Virus! (Cartas)
EXEC PROC_CREAR_PRODUCTO 'Virus!', @id_categorias = @ids_categorias, @fechaIngreso = '2026-03-22', @precioLista = 14.00, @precioVenta = 19.99, @stock = 60, @stock_min = 6, @eliminado = 0, @descripcion = 'Juego de cartas rápido y divertido donde se combate un virus.', @cod_producto = 115, @id_proveedor = 3, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 16: Pista de Dados (Accesorios)
EXEC PROC_CREAR_PRODUCTO 'Pista de Dados', @id_categorias = @ids_categorias, @fechaIngreso = '2026-04-01', @precioLista = 8.00, @precioVenta = 12.00, @stock = 50, @stock_min = 5, @eliminado = 0, @descripcion = 'Accesorio para juegos de mesa. Pista de cuero para lanzar dados.', @cod_producto = 116, @id_proveedor = 4, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 17: Sushi Go! (Cartas, Infantil)
EXEC PROC_CREAR_PRODUCTO 'Sushi Go!', @id_categorias = @ids_categorias, @fechaIngreso = '2026-05-18', @precioLista = 10.00, @precioVenta = 15.99, @stock = 75, @stock_min = 7, @eliminado = 0, @descripcion = 'Juego de cartas de ritmo rápido sobre una cena en un restaurante de sushi.', @cod_producto = 117, @id_proveedor = 5, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 18: Eldritch Horror (Cooperativos, Rol)
EXEC PROC_CREAR_PRODUCTO 'Eldritch Horror', @id_categorias = @ids_categorias, @fechaIngreso = '2026-06-01', @precioLista = 55.00, @precioVenta = 79.99, @stock = 15, @stock_min = 1, @eliminado = 0, @descripcion = 'Juego de mesa cooperativo de horror y misterio, basado en la obra de H.P. Lovecraft.', @cod_producto = 118, @id_proveedor = 6, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 19: Risk: El Juego de la Conquista (Wargames, Estrategia)
EXEC PROC_CREAR_PRODUCTO 'Risk: El Juego de la Conquista', @id_categorias = @ids_categorias, @fechaIngreso = '2026-07-07', @precioLista = 32.00, @precioVenta = 48.00, @stock = 25, @stock_min = 2, @eliminado = 0, @descripcion = 'Clásico juego de estrategia para dominar el mundo.', @cod_producto = 119, @id_proveedor = 1, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 20: 7 Wonders (Estrategia, Cartas)
EXEC PROC_CREAR_PRODUCTO '7 Wonders', @id_categorias = @ids_categorias, @fechaIngreso = '2026-08-14', @precioLista = 38.00, @precioVenta = 55.00, @stock = 30, @stock_min = 3, @eliminado = 0, @descripcion = 'Juego de cartas de civilizaciones con mecánicas de draft.', @cod_producto = 120, @id_proveedor = 2, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

-- Producto 21: Expansión de Catan (Expansiones, Estrategia)
EXEC PROC_CREAR_PRODUCTO 'Expansión de Catan', @id_categorias = @ids_categorias, @fechaIngreso = '2026-09-01', @precioLista = 20.00, @precioVenta = 29.99, @stock = 10, @stock_min = 2, @eliminado = 0, @descripcion = 'Expansión para el juego base Catan.', @cod_producto = 121, @id_proveedor = 1, @id_producto_generado = @id_producto OUTPUT, @mensaje = @mensaje OUTPUT;
DELETE FROM @ids_categorias;

PRINT 'Lote de productos y sus categorías insertados exitosamente.';

--REvisar Productos y PRoductosCategorias

SELECT * FROM Productos

SELECT * FROM ProductosCategorias