USE [ocio_store]
GO
/****** Object:  StoredProcedure [dbo].[PROC_OBTENER_VENTA_COMPLETA]    Script Date: 12/12/2025 14:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[PROC_OBTENER_VENTA_COMPLETA]
    @id_venta INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Seleccionar los detalles de la venta y los datos del producto
    SELECT 
        dv.id_producto,
        dv.cantidad,
        dv.subtotal,
        p.cod_producto,
        p.nombre_producto,
        p.precioVenta
    FROM 
        DetalleVentas dv
    INNER JOIN 
        Productos p ON dv.id_producto = p.id_producto
    WHERE 
        dv.id_venta = @id_venta;

    -- Seleccionar los datos de la venta y el cliente
    SELECT 
        v.id_venta,
        v.total,
        v.fecha_venta,
        v.id_medio,
        mp.nombre_medio,
        mp.comision,
        v.id_user,
        u.nombre AS nombre_usuario,
        u.apellido AS apellido_usuario,
        c.id_cliente,
        c.dni_cliente,
        c.nombre_cliente,
        c.apellido_cliente
    FROM 
        Ventas v
    INNER JOIN 
        Clientes c ON v.id_cliente = c.id_cliente
    INNER JOIN
        MetodosPago mp ON v.id_medio = mp.id_medioPago -- JOIN necesario
    INNER JOIN
        Users u ON v.id_user = u.id_user
    WHERE 
        v.id_venta = @id_venta;
END;
