USE [ocio_store]
GO
/****** Object:  StoredProcedure [dbo].[PROC_REGISTRAR_INFORME]    Script Date: 14/12/2025 10:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[PROC_REGISTRAR_INFORME]
    @titulo NVARCHAR(100),
    @descripcion NVARCHAR(255),
    @fecha_generacion DATETIME,
    @tipo_informe NVARCHAR(50),
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Informe (
        titulo,
        descripcion,
        fechaGeneracion,
        tipo_informe,
        id_user
    )
    VALUES (
        @titulo,
        @descripcion,
        GETDATE(),
        @tipo_informe,
        @id_usuario
    );
END
