USE [ocio_store]
GO
/****** Object:  StoredProcedure [dbo].[PROC_LISTAR_VENTAS_FILTRADAS]    Script Date: 13/12/2025 19:01:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[PROC_LISTAR_VENTAS_FILTRADAS]
    @fecha_inicio DATE,
    @fecha_fin DATE,
    @id_vendedor INT = 0,
    @id_cliente INT = 0,
    @nro_factura INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        v.id_venta,
        v.total,
        v.fecha_venta,
        
        -- Datos Medio Pago
        v.id_medio,
        mp.nombre_medio,
        mp.comision,

        -- Datos Usuario (Vendedor)
        v.id_user,
        u.nombre,
        u.apellido,
        u.dni,
        u.mail,
        u.username,
        u.pass,
        u.baja_user,
        u.id_rol,
        r.nombre_rol,

        -- Datos Cliente
        v.id_cliente,
        c.nombre_cliente,
        c.apellido_cliente,
        c.dni_cliente,
        c.email_cliente,
        c.direccion_cliente,
        c.telefono_cliente,
        c.localidad_cliente,
        c.provincia_cliente,

        -- Datos Factura (Para tener el ID y Tipo a mano)
        f.id_factura,
        f.fecha_emision,
        tf.id_tipo_factura,
        tf.nombre_tipo_factura

    FROM Ventas v
    INNER JOIN MetodosPago mp ON v.id_medio = mp.id_medioPago
    INNER JOIN Users u ON v.id_user = u.id_user
    INNER JOIN Roles r ON u.id_rol = r.id_rol
    INNER JOIN Clientes c ON v.id_cliente = c.id_cliente
    -- Left join porque puede haber una venta sin factura (las primeras, donde todavía no estaba la lógica de facturas)
    LEFT JOIN Facturas f ON v.id_venta = f.id_venta 
    LEFT JOIN TiposFactura tf ON f.id_tipo_factura = tf.id_tipo_factura

    WHERE 
        (@nro_factura = 0 OR ISNULL(f.id_factura, 0) = @nro_factura)
        AND 
        (
            @nro_factura <> 0 -- Si hay nro factura, se salta el filtro de fecha
            OR 
            CAST(v.fecha_venta AS DATE) BETWEEN @fecha_inicio AND @fecha_fin
        )
        AND (@id_vendedor = 0 OR v.id_user = @id_vendedor)
        AND (@id_cliente = 0 OR v.id_cliente = @id_cliente)
    
    ORDER BY v.fecha_venta DESC
END